<h1>Listing key_rings</h1>

<table>
  <tr>
    <th>Secured decryption</th>
    <th>Encryption</th>
    <th>Secured signing</th>
    <th>Verification</th>
    <th>Owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @key_rings.each do |key_ring| %>
  <tr>
    <td><%= key_ring.secured_decryption %></td>
    <td><%= key_ring.encryption %></td>
    <td><%= key_ring.secured_signing %></td>
    <td><%= key_ring.verification %></td>
    <td><%= key_ring.owner_id %></td>
    <td><%= link_to 'Show', key_ring %></td>
    <td><%= link_to 'Edit', edit_key_ring_path(key_ring) %></td>
    <td><%= link_to 'Destroy', key_ring, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Key ring', new_key_ring_path %>
