<p id="notice"><%= notice %></p>

<p>
  <b>Secured decryption:</b>
  <%= @key_ring.secured_decryption %>
</p>

<p>
  <b>Encryption:</b>
  <%= @key_ring.encryption %>
</p>

<p>
  <b>Secured signing:</b>
  <%= @key_ring.secured_signing %>
</p>

<p>
  <b>Verification:</b>
  <%= @key_ring.verification %>
</p>

<p>
  <b>Owner:</b>
  <%= @key_ring.owner_id %>
</p>


<%= link_to 'Edit', edit_key_ring_path(@key_ring) %> |
<%= link_to 'Back', key_rings_path %>
